NODE_ENV=Development
JWT_SECRET=szfepfjagpanaga55a351g5a31a~{{~HIV
ADMIN_JWT_SECRET=szfepfjagpanaga55a351g5a31a(-_è
APP_KEYS=szfepfjagpanaga55a351g5a31aGVIV(èè(è

DATABASE_CLIENT=POSTGRES
DATABASE_PORT=5432
DATABASE_NAME=db
DATABASE_USERNAME=user
DATABASE_PASSWORD=mdp